/* Full-screen overlay */
.overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;*/
}

/* Spinning loader with transparent center */
.loader {
    width: 60px;
    height: 80px;
    border: 8px solid transparent; /* Transparent border */
    border-top: 8px solid black; /* Only top border is visible */
    border-radius: 50%;
    background-color: transparent;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}