.main {
    width: 100%;
    background-color: #0A8D56;
    display: flex;
    gap: 40px;
    gap: 50px;
    align-items: center;
    padding: 80px 150px 80px 30px;
}

.main form {
    display: flex;
    gap: 15px;
    background-color: #0A8D56;
    align-items: center;
}

.main form div {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #0A8D56;
    position: relative;
}

.main form input {
    width: 400px;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    background-color: white;
}

.main form img {
    background-color: #0A8D56;
}

.main form img:hover {
    cursor: pointer;
    background-color: #10a366;;
}

.group {
    background-color: #0A8D56;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        background-color: #0A8D56;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        padding-top: 60px;
    }

    .main form {
        top: 15%;
        right: 15%;
    }
}