.headerButton {
    display: flex;
    gap: 8px;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.headerButton img {
    width: 24px;
    height: 24px;
    background-color: white;
}

.headerButton p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8E8E8E;
    background-color: white;
}

.headerButton:hover {
    border: solid 1px #8E8E8E;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .headerButton {
        gap: 5px;
        padding: 5px 8px 5px 8px;
    }

    .headerButton p {
        font-size: 14px;
    }

    .headerButton img {
        width: 15px;
        height: 15px;
    }
}