.options {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.options div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.options button {
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 140px;
    background-color: white;
    color: #383838;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.filterButton {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 8px 12px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.options button:hover {
    background-color: #1CB0F6;
    color: white;
    cursor: pointer;
}

.filterButtonActive {
    background-color: #1CB0F6;
    color: white;
    border: none;
}

.classifications {
    padding: 16px;
    display: flex;
    gap: 5px;
    background-color: #9664C533;
}

.classifications img {
    background-color: inherit;
}