.header {
    padding: 16px 20px 16px 10px;
    border-bottom: 1px;
    justify-content: space-between;
    display: flex;
    background-color: white;
}

.rightSide {
    display: flex;
    gap: 7px;
    background-color: white;
}

.headerButtons {
    padding-right: 84px;
    display: flex;
    gap: 53px;
    background-color: white;
}

.leftSide {
    display: flex;
    gap: 12px;
    justify-content: center;
    background-color: white;
}

.leftSide img {
    background-color: white;
}

.leftSide img:hover {
    cursor: pointer;
}

.rectangle {
    width: 2px;
    height: 31px;
    border-radius: 999px;
    background-color: #E5E5E5;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .header {
        width: 100%;
        flex-wrap: wrap;
        position: relative;
    }

    .rightSide {
        flex-direction: column;
    }

    .headerButtons {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 20px;
        gap: 15px;
    }

    .leftSide {
        position: absolute;
        top: 16px;
        left: 15px;
    }
}