.header {
    padding: 16px 20px 16px 10px;
    border-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.rightSide {
    width: 75%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.headerButtons {
    width: 80%;
    background-color: inherit;
}

.leftSide {
    display: flex;
    gap: 12px;
    justify-content: center;
    background-color: white;
}

.leftSide img {
    background-color: white;
}

.leftSide img:hover {
    cursor: pointer;
}

.rectangle {
    width: 2px;
    height: 31px;
    border-radius: 999px;
    background-color: #E5E5E5;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .headerButtons {
        display: none;
    }
}