.form {
    display: flex;
    gap: 10px;
    background-color: inherit;
    align-items: center;
    width: 100%;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    background-color: inherit;
    position: relative;
}

.form input {
    text-align: right;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    background-color: white;
    height: 40px;
    display: flex;
    border: solid 1px #8E8E8E;
}

.form img {
    background-color: inherit;
    border: solid 1px white;
    border-radius: 9px;
}

.form img:hover {
    cursor: pointer;
    opacity: 0.5;
}