.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px;
    padding: 16px 40px 16px 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #E5E5E5;
    margin: 0;
}

.header div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header .rectangle {
    width: 2px;
    height: 31px;
    border-radius: 999px;
    background-color: #E5E5E5;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .header div {
        width: 80%;
    }
}